@import "https://fonts.googleapis.com/css?family=Lato:400,700";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

#page-wrapper {
    position: relative;
}


/*---------------Header-section---------------*/

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}

.logo {
    width: 60vw;
}

.logo>img {
    width: 100%;
    height: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

nav {
    font-weight: 400;
}

nav>ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 600px) {
    header {
        flex-wrap: wrap;
    }
}

@media (max-width: 650px) {
    .logo {
        margin-top: 15px;
        width: 100%;
        position: relative;
    }
    .logo>img {
        margin: 0 auto;
    }
    nav {
        margin-top: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 50px;
    }
    nav li {
        padding-bottom: 5px;
    }
    nav>ul {
        flex-direction: column;
    }
}


/*---------------Heading-section---------------*/

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: flex;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#hero>h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
}

#hero input[type="email"] {
    max-width: 80%;
    width: 100%;
    padding: 5px;
}

#hero input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
}

#hero input[type="submit"]:hover {
    background-color: orange;
    transition: background-color 1s;
}

.btn {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

@media (max-width: 650px) {
    #hero {
        margin-top: 150px;
        font-size: 15px;
    }
    .btn {
        font-size: 0.8em;
    }
}


/*---------------Flex-section---------------*/

#features {
    margin-top: 30px;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;
}

#features .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
        margin-top: 20px;
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150px;
    }
    #features .icon {
        font-size: 10px;
        display: flex;
    }
}

@media (max-width: 650px) {
    #features {
        background: skyblue;
        margin-top: 0;
        justify-content: column;
        padding: 10px 20px;
    }
}


/*---------------How-it-works-section---------------*/

#how-it-works {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#how-it-works>iframe {
    max-width: 560px;
    width: 100%;
}

@media (max-width: 650px) {
    #how-it-works {
        background: tomato;
    }
    #how-it-works>iframe {
        max-width: 300px;
        width: 100%;
    }
}


/*---------------Card-section---------------*/

#pricing {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product>.level {
    background-color: #ddd;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}

.product>h2 {
    margin-top: 15px;
}

.product>ol {
    margin: 15px 0;
}

.product>ol>li {
    padding: 5px 0;
}

.product>button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

.product>button:hover {
    background-color: orange;
    transition: background-color 1s;
}

@media (max-width: 800px) {
    #pricing {
        flex-direction: column;
        background: green;
        color: white;
    }
    .product {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}


/*---------------Footer-section---------------*/

footer {
    background-color: #ddd;
    padding: 20px;
}

footer>ul {
    display: flex;
    justify-content: flex-end;
}

footer>ul>li {
    padding: 0 10px;
}

footer>span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}